@charset "utf-8";

.title {
  height: 310px;
  background-color: #24211b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature img {
  width: 360px;
}

.feature-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h2 {
  font-size: 42px;
  font-weight: bold;
  line-height: 30px;
}



.feature-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
}

.about{
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.about2{
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.details{
  max-width: 450px;
  margin-right: 100px;
}

.details h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 25px;
}

.details p {
  width: 450px;
  font-size: 15px;
  line-height: 28px;
  
}

.details a{
  font-size: 15px;
  color: #6E8AF3;
  text-decoration:underline;
}

.footer {
  margin-top: 100px;
}